footer
  .container.text-center
    p.float-left © 2018 Nerddevs Ltd. All Rights Reserved
    ul.float-right.list-inline
      li.list-inline-item
        a(href='https://github.com/delwar2016/mediaMan') GitHub Project
      li.list-inline-item
        a(href='https://github.com/delwar2016/mediaMan/issues') Issues
