extends layout

block content
  h1 Media Man
  p.lead This app will use to organize your video files and watch your videos from any where and any times. Enjoy !!!!!!
  hr
  .row
    .col-md-6
      h2 Folder structure
      p Just you need to organize your folder structure and upload the videos......
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Searching...
      p Search your desired videos by any text. It will look up recursively folder, sub-folder and video files in a millisecond....
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Share videos
      p You can share your desired videos to your friends and family.
      p
        a.btn.btn-raised(href='#', role='button') View details »
